x-def-logging: &default-logging
  driver: "loki"
  options:
    loki-url: "http://127.0.0.1:3100/loki/api/v1/push"
    loki-batch-size: "100"
    loki-retries: 2
    loki-max-backoff: 1000ms
    loki-timeout: 1s
    max-size: "10m"
    max-file: "3"
    labels: "com.docker.compose.service,com.docker.compose.project"

services:

  web:
    build:
      context: ./web/
      dockerfile: Dockerfile
    ports:
      - 5173:80
  chatter:
    container_name: chatter
    build:
      context: ./chatter/
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    environment:
      - PORT=8080
      - OTEL_SERVICE_NAME=chatter
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://tempo:4318
    logging: *default-logging
    networks:
      - chatter_default
    depends_on:
      - chatter-postgres
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 15s

  chatter-postgres:
    container_name: chatter-postgres
    image: postgres:18.0-alpine3.22
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
    networks:
      - chatter_default
    volumes:
      - postgres_chatter_data:/var/lib/postgresql/data
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 15s
      timeout: 15s
      retries: 10
      start_period: 10s

  redis:
    container_name: chatter-redis
    image: redis:7.4-alpine
    ports:
      - 6379:6379
    networks:
      - chatter_default
    volumes:
      - redis_chatter_data:/data
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "password", "ping"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s

  prometheus:
    container_name: prometheus
    image: prom/prometheus:v3.5.1
    volumes:
      - ./infra/monitoring/prometheus/prometheus.yaml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    networks:
      - chatter_default
    ports:
      - 9090:9090
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9090/health"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s

  grafana:
    container_name: grafana
    image: grafana/grafana:12.3
    environment:
    - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
    - GF_INSTALL_PLUGINS=https://storage.googleapis.com/integration-artifacts/grafana-exploretraces-app/grafana-exploretraces-app-latest.zip;grafana-traces-app
    volumes:
      - ./infra/monitoring/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
      - grafana_data:/var/lib/grafana
    networks:
      - chatter_default
    ports:
      - 3000:3000
    depends_on:
      prometheus:
        condition: service_started
      loki:
        condition: service_healthy
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:3000/api/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s

  loki:
    container_name: loki
    image: grafana/loki:3.5
    volumes:
      - ./infra/monitoring/loki/retention-config.yaml:/etc/loki/retention-config.yaml:ro
      - loki_data:/loki/data
    ports:
      - "3100:3100"
    networks:
      - chatter_default
    command: -config.file=/etc/loki/retention-config.yaml -config.expand-env=true -auth.enabled=false
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:3100/ready || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  tempo:
    container_name: tempo
    image: grafana/tempo:2.8.3
    volumes:
      - ./infra/monitoring/tempo/tempo.yaml:/etc/tempo/tempo.yaml:ro
      - tempo_data:/var/tempo
    networks:
      - chatter_default
    ports:
      - 3200:3200
      - 4318:4318
    command: -config.file=/etc/tempo/tempo.yaml
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3200/ready"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  migrate:
    build:
      context: .
      dockerfile: Dockerfile.migrate
    depends_on:
      chatter-postgres:
        condition: service_healthy
    volumes:
      - ./chatter:/app
    working_dir: /app
    networks:
      - chatter_default

networks:
  chatter_default:
    driver: bridge

volumes:
  postgres_chatter_data:

  redis_chatter_data:

  loki_data:

  prometheus_data:

  grafana_data:

  tempo_data: